:root{
    --color-background: #e3e3e3;
    --color-background-nav: #16350e;
    --color-background-nav-2: #235317;
    --color-white: #ffffff;
    --color-text-white: #ffffff;
    --color-odd-selected: #ee7742;
    --color-odd-selected-2: #ffa178;
    --color-text-grey: rgb(72, 71, 71);
    --color-text-grey-2: rgb(115, 115, 115);
    --color-grey: rgb(34, 34, 34);
}

*{
    padding: 0;
    margin: 0;
}

html, body{
    background-color: var(--color-white);
    background-size: 2000px;
    font-family: 'Roboto', sans-serif;
}

.page-container{
    position: relative;
    min-height: 100vh;
}

main {
    padding: 20px;
    margin-top: 100px;
    background-color: var(--color-white);
}

.w-100{
    width: 100%;
}

.w-90{
    width: 90%;
}

.w-70{
    width: 70%;
}

.w-30{
    width: 30%;
}

.col{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.row{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.margin-top-5{
    margin-top: 5px;
}

.margin-top-10{
    margin-top: 10px;
}

.margin-right-5{
    margin-right: 5px;
}

.margin-left-5{
    margin-left: 5px;
}

.margin-right-10{
    margin-right: 10px;
}

.margin-right-20{
    margin-right: 20px;
}

.margin-right-50{
    margin-right: 50px;
}

.border-radius-5{
    border-radius: 5px;
}

.border-radius-10{
    border-radius: 10px;
}

.border-radius-20{
    border-radius: 20px;
}

.border-radius-60{
    border-radius: 60px;
}

.padding-10{
    padding:10px;
}

.padding-20{
    padding:20px;
}

.padding-50{
    padding:50px;
}

.card{
    border: 2px solid var(--color-background-nav)
}

.b-grey{
    background-color: var(--color-background);
}

.b-white{
    background-color: var(--color-white);
}

.t-grey{
    color: var(--color-text-grey)
}

.t-grey-2{
    color: var(--color-text-grey-2)
}

.t-white{
    color: var(--color-white)
}

@keyframes modal {
    0%   {background-color: rgba(0, 0, 0, 0);}
    100% {background-color: rgba(0,0,0,0.4);}
}

.modal {
    display: none; 
    position: fixed;
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
    animation-name: modal;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes modal-content {
    0%   {top: 0px}
    100% {top: 150px;}
}
  
.modal-content {
    left: 30%;
    position: absolute;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    animation-name: modal-content;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    transition-duration: 0.5s;
    transform: scale(1.15);
}

.button-float{
	position:fixed;
	bottom:80px;
    height: 60px;
    width: 60px;
	right:40px;
	background-color:rgb(240, 3, 27);
	color:#FFF;
	border-radius:35px;
	text-align:center;
}

.my-float{
	margin-top:22px;
}